body {
    background-color: #f4f7f6;
}

header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 30px;
}

nav {
    background-color: #34495e;
}

nav ul {
    list-style: none;   /* ul에 있는, 점찍히는 스타일 삭제 */
    padding: 0;         /* ul에 있는 , 기본 패딩으로 0으로 변경 */
    margin: 0;
    display: flex;
    justify-content: center; /* ul의 아이템들을 가로로 중앙 정렬 */
}

nav ul a {
    color: white;
    display: block;
    padding: 15px 20px;
    font-weight: bold;
    text-decoration: none;
}

nav ul a:hover {
    background-color: #69f31a;
}

.layout-wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 20px
}

main {
    flex: 3;
}

aside {
    flex: 1;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}

aside a {
    text-decoration: none;
    color: #3498db;

}

section {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

article {
    background-color: #fafafa;
    padding: 15px;
    border-left: 4px solid #3498db;
}
footer {
    background-color: #dbc3c7;
    text-align: center;
    padding: 30px;
}